.loginform {
  background-color: $blue_bg;
  width: 330px;
  border-radius: 3px;
  height: 540px;
  h1 {
    width: 200px;
    height: 45px;
    font-size: 35px;
    font-weight: 300;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 10px;
  }
}


.button {
  background-color: $white;
  color: $black;
  width: 85px;
  height: 28px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 10px;
  &:hover {
    background-color: beige;
    color: $black;
    border: 1px solid silver;
  }
}

.form-wrapper {
  position: relative;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  width: 83%;
  margin: 100px auto 45px;
  padding: 49px 45px;
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%,0);
    background-color: $white;
    width: 75px;
    height: 75px;
    border-radius: 50px;
  }
}

#password {
  display: inline-block;
  width: 90%;
  margin-top: 15px;
}

#hideLogin {
  display: inline-block;
  width: 90%;
  margin-top: 15px;
  height: 30px;
}

.keyboard {
  display: inline-block;
  cursor: pointer;
}

.numbers {
  font-weight: bold;
}

.error {
  position: relative;
  background-color: $red;
  color: white;
  height: 17px;
  width: 95%;
  border-radius: 3px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid red;
    left: 10px;
    top: -20px;
  }
}

.warning {
  border: 1px solid red;
}

#login-toggle {
  width: 15px;
  height: 15px;
  border-radius: 60%;
  background-color: $black;
  color: $white;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background-color: $black;
    color: beige;
  }
}

.menu {
  li {
    a {
      margin-top: 15px;
      padding-top: 40px;
      color: $white;
      font-size: 10px;
      font-weight: bold;
    }
  }
}
