@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


body {
  background-color: $grey;
  font-family: 'Roboto', sans-serif;
}


.logo1 {
  width: 159.6px;
  height: 160px;
}

.container {
  padding-top: 50px;
  height: 100%;
  text-align: center;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center center;
}


/* formularz */


.body-form {
  width: 100%;
  height: 1000px;
  text-align: center;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 200;
  font-stretch: condensed;
}



.loginform {
  width: 506px;
  height: 576px;
  background-color: $blue_bg;
  border-radius: 3px;
  h1 {
    color: white;
    width: 200px;
    height: 45px;
    font-size: 32px;
    font-weight: 50;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 15px;
    font-family: "Roboto condensed", sans-serif;
    line-height: 1.9;
  }
  p {
    width: 400px;
    height: 14px;
    font-family: "Roboto condensed", sans-serif;
    font-size: 15px;
    font-weight: 50;
    font-stretch: condensed;
    text-align: center;
    color: $white;
  }
}


.form-wrapper {
  position: relative;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  width: 83%;
  margin: 120px auto 45px;
  padding: 49px 45px;
  opacity: 0.87;
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%,0);
    background-color: $white;
    width: 75px;
    height: 75px;
    border-radius: 50px;
  }
}

#password {
  display: inline-block;
  width: 90%;
  margin-top: 15px;
}

#hideLogin {
  display: inline-block;
  width: 90%;
  margin-top: 15px;
  height: 30px;
}

.keyboard {
  display: inline-block;
  cursor: pointer;
}

.numbers {
  font-weight: bold;
}


.select-other {
  width: 87px;
  height: 13px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 200;
  font-stretch: condensed;
  letter-spacing: -0.5px;
  text-align: center;
  color: $white;
  margin-bottom: 5px;
  display: inline-block;
}

.button {
  display: inline-block;
  background-color: $white;
  color: $black;
  width: 110px;
  height: 12px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  &:hover {
    background-color: beige;
    color: $black;
    border: 1px solid silver;
  }
}

#login-toggle {
    width: 18px;
    height: 18px;
    color: $white;
    border: 1px solid $white;
}

.error {
  position: relative;
  background-color: $red;
  color: white;
  height: 17px;
  width: 95%;
  border-radius: 3px;
  visibility: hidden;
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid red;
    left: 10px;
    top: -20px;
  }
}

.warning {
  border: 1px solid red;
}

#login-toggle {
  width: 15px;
  height: 15px;
  border-radius: 60%;
  background-color: $black;
  color: $white;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background-color: $black;
    color: beige;
  }
}

.menu {
  li {
    a {
      margin-top: 50px;
      color: $white;
      font-size: 10px;
      font-weight: bold;
    }
  }
}
