@import url('https://fonts.googleapis.com/css?family=Roboto');

.boxTransfer {
  font-family: 'Roboto', sans-serif;
  background-color: $white;
  margin-bottom: 70px;
  margin-top: 70px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 3px;
}


.back-img {
  cursor: pointer;
  margin-top: 15px;
  margin-left: 10px;
}

.cashClient {
  margin-top: 20px;
  border: 1px solid #c0c0c0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.vcard {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
}

.current-account {
  color: $black;
  margin-left: -15px;
}

.current-account-number {
  color: $black;
  margin-left: -15px;
}


.cashAll {
  color: $black;
  font-size: 25px;
  margin-left: 90px;
}

.cashall-img {
  margin-left: 5px;
  cursor: pointer;
}

.add {
  margin-left: 177px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-img {
  margin-right: 7px;
  cursor: pointer;
}

.buttonContinue {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 11px;
  font-weight: 100;
  font-stretch: condensed;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #259fd3;
  color: white;
  padding: 7px 13px 7px 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
  margin-left: 230px;
}

.type-class {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sumNumber {
  width: 350px;
  display: inline-block;
}

.sumCheck {
  width: 150px;
  display: inline-block;
}

.numberClients {
  width: 500px;
}

.cash-img {
  width: 40px;
  height: 40px;
  color: $white;
  background-color: grey;
  padding: 10px 10px 10px 10px;
  &:hover {
    cursor: pointer;
    background-color: #0BBED3;
  }
}


.transfer-type {
  input[type=radio]:checked + img { background-color: #0BBED3}
  display: flex;
  justify-content: space-around;
  margin-left: -35px;
}

.person-img {
  width: 40px;
  height: 40px;
  color: $white;
  background-color: grey;
  padding: 10px 10px 10px 10px;
  &:hover {
    background-color: #0BBED3;
  }
}

.dolar-img {
  width: 40px;
  height: 40px;
  color: $white;
  background-color: grey;
  padding: 10px 10px 10px 10px;
  &:hover {
    background-color: #0BBED3;
  }
}

.zus-img {
  width: 40px;
  height: 40px;
  background-color: grey;
  padding: 10px 10px 10px 10px;
  &:hover {
    background-color: #0BBED3;
  }
}

label {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.us-img  {
  width: 40px;
  height: 40px;
  background-color: grey;
  padding: 10px 10px 10px 10px;
  &:hover {
    background-color: #0BBED3;
  }
}

.shape-img {
  width: 40px;
  height: 40px;
  background-color: grey;
  padding: 10px 10px 10px 10px;
  &:hover {
    background-color: #0BBED3;
  }
}

.recipient-input {
  input {
    color: gray;
    width: 500px;
    display: inline-block;
  }
}


.recipient-c {
  margin-top: 5px;
}

.where-c {
  margin-top: 5px;
}

.title-input {
  width: 500px;
}

.date-in {
  width: 130px;
  font-size: 12px;
}